<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <style>
        .margin-top-navbar{
            margin-top:30px;
        }
        .margin-top-navbar-large{
            margin-top:80px;
        }
        @media (min-width: 1200px) {
            .container{
                max-width: 670px;
            }
        }
    </style>
</head>
    <body>
        <!-- add below Django command to use bootstrap3 in web page.  -->
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <div class="container">
            <!-- include web page navigation bar page -->
            {% include "./base_menu_bar.html" %}
            {% block page_content %}
            {% endblock %}
        </div>
    </body>
</html>